<head>
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>Bootstrapping web application</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="logo">
                <img src="{{ url_for('static', filename='images/afriquia-gaz-logo.png') }}" alt="AFRIQUIA GAZ LOGO">
        </div>
        <h1>Bootstrapping web application</h1>
    </header>
    <div class="date-choice">
            <p>Inserer une date</p>
    <form action="/" method="POST">
        <input type="date" name="data">
        <button type="submit">Submit</button>
    </form>
    </div>

    {% if date != '' %}
        <div class="container">
            <table class="table1">
                <thead>
                    {% for c in columns %}
                        <th>{{ c }}</th>
                    {% endfor %}
                </thead>
                {% for row in data %}
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <table class="table2">
                <thead>
                    {% for c in ['Maturité.Jour', 'Maturité','Tmp','Taux acturiel','taux ZC'] %}
                        <th>{{ c }}</th>
                    {% endfor %}
                </thead>
                {% for m in maturity %}
                    <tr>
                        <td>{{ m }}</td>
                        <td>{{ (m/365) | round(3)  }}</td>
                        <td>{{ tmp[loop.index0] |round(4) }}</td>
                        <td>{{ (ta[loop.index0]*100) |round(4)}}%</td>
                        <td class="cell-tzc">{{ (tzc[loop.index0]*100) |round(4)}}%</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="canvas"><canvas id="myChart"></canvas></div>
        </div>
    {% endif %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    {% if graph_data %}
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ graph_data[0]|tojson }},
            datasets: [{
                label: 'Taux Zero Coupon',
                data: {{ graph_data[1]|tojson }},
                backgroundColor: 'rgba(77,77,77,0.2)',
                borderColor: 'rgb(0,0,0)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x:  {
                    ticks: {
                        beginAtZero: true
                    }
                },
                y: {
                    ticks: {
                      beginAtZero: true,
                      callback: function(value, index, values) {
                        return value.toFixed(2) + '%';
                      }
                    }
                }
            }
        }
    });
    {% endif %}
</script>
</body>
