*{
    font-size: 18px;
    font-weight: bold;
}
body{
    background-color: #D9EEE1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


header{
    margin: 20px;
}

h1{
    font-family: Calibri, serif;
    text-align: center;
    font-size: 2em;
    color: #77cef5;
}

.date-choice {
    text-align: center;
    font-size: 14px;
}

input, button{
    padding: 10px;
    border-radius: 5px;
}

button{
    background-color: #77cef5;
}
.container{
    margin: 30px;
}

table{
    width: 40%;
    border-collapse: collapse;
    margin: 30px auto;
    border-radius: 3px;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    border-radius: inherit;
    text-align: center;
}

th:last-child, td:last-child {
    background-color: #77cef5;
}

th{
    padding: 7px;
}

.canvas{
    width: 800px;
    margin: 10px auto;
}

