body{
    background-color: #cfd1f0;
}

header{
    margin: 20px;
}

.container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    align-items: flex-start;
}

table{
    width: 40%;
    border-collapse: collapse;
    margin: 0 30px;
    border-radius: 3px;
}

th, td {
    border: 2px solid #ebe0e0;
    padding: 5px;
    border-radius: inherit;
}

th:last-child, td:last-child {
    background-color: #ebc7e5;
}

th{
    padding: 7px;
}

.canvas{
    width: 800px;
    margin: 10px auto;
}

