body{
    background-color: #a4d5f4;
}

header{
    margin: 20px;
}

h1{
    text-align: center;
}

.container{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    align-items: flex-start;
}

table{
    width: 40%;
    border-collapse: collapse;
    margin: 0 30px;
    border-radius: 3px;
}

th, td {
    border: 2px solid #efeb98;
    padding: 5px;
    border-radius: inherit;
}

th:last-child, td:last-child {
    background-color: #9cd775;
}

th{
    padding: 7px;
    color: #1470be;
}

.canvas{
    width: 800px;
    margin: 10px auto;
}

